body {
    display:flex;
    flex-direction:column;
}

.header {
    display:flex;
    justify-content:space-around;
    align-items:center;
    background:#1F2937;
    height:48px;
    padding:16px;
    color:white;
}

.headerlogo {
    font-size:24px;
    color:#F9FAF8
}

.headerlinks {
    display:flex;
    gap:16px;
}

.header ul {
    list-style-type: none;
}

.header a {
    text-decoration:none;
    font-size:18px;
    color: #E5E7EB;
}

.intro {
    display:flex;
    background:#1F2937;
    height: 500px;
    align-items:center;
}

.introleft {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:flex-start;
    padding-left:150px;
    gap:16px;
}

.introright {
    flex:1;
}

.introimg {
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    height:200px;
    width:500px;
    background-color:grey;
    margin:50px;
}

.heromain {
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
}

.herosecondary {
    font-size: 18px;
    color:#E5E7EB;
}

button {
    color:white;
    background-color:#3882F6;
    font-size:18px;
    font-weight: bold;
    padding: 8px 24px;
    border-radius:8px;
    border:0;
}

.info {
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 500px;
}

.infotext {
    padding:32px;
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
}

.infoimgs {
    display:flex;
    justify-content:center;
    text-align:center;
    margin:48px;
    gap:48px;
    height:100%;
    width:100%;
}

.infoimg {
    display:flex;
    margin: 16px 24px;
    height:150px;
    width:150px;
    border-color:#3882F6;
    border-width:4px;
    border-style:solid;
    border-radius:16px;
    background-color:white;
}

.infocontainers {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 158px;
    flex-direction:column;
}

.quote {
    display:flex;
    flex-direction:column;
    background:#E5E7EB;
    height: 400px;
    justify-content:center;
    align-items:center;
}

.quote p {
    width:50%;
    color: #1F2937;
}
.quotebody {
    font-size:36px;
}

.thor {
    text-align:right;
    font-size:18px;
    font-weight:bold;
}

.signup {
    display:flex;
    justify-content:center;
    align-items:center;
    height:300px;
}

.signupbox {
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#3882F6;
    height:50%;
    width:50%;
}

.signupbox button {
    border:2px;
    border-color: #E5E7EB;
    border-style:solid;
}

.callToAction {
    color:#E5E7EB;
}

.callToAction p {
    font-size:24px;
    margin:8px 0px;
}

.copyright {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#1F2937;
    height:150px;
    color:#E5E7EB;
}

.copyright a {
    text-decoration:none;
    color:#E5E7EB;
}